flows/delete_data.yml
id: delete_data
namespace: prod

triggers: 
  - id: after_analyse_data
    type: io.kestra.plugin.core.trigger.Flow
    conditions: 
      - type: io.kestra.plugin.core.condition.ExecutionFlowCondition
        namespace: prod
        flowId: analyse_data
      - type: io.kestra.plugin.core.condition.ExecutionStatusCondition
        in:
          - SUCCESS

# parallèl ? compliqué par rapport a la modification de la db
tasks:
  - id: delete_data
    type: io.kestra.plugin.scripts.python.Commands
    namespaceFiles:
      enabled: true
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    inputFiles:
      database.duckdb: "{{ trigger.outputs.database_duckdb }}"    
    outputFiles:
      - "database.duckdb"
    commands:
      - python delete_doublons.py
      - python delete_valeurs_null.py

outputs:
  - id: database_clean_duckdb
    type: FILE
    value: "{{ outputs.delete_data.outputFiles['database.duckdb'] }}"